@import url('../../../App.css');

.account-container {
  color: #fff; 
  font-family: 'Arial', sans-serif; 
  border-collapse: collapse; /* Eliminates the space between table borders */
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu, sans-serif;
  font-feature-settings: "tnum" on, "lnum" on;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.account-table {
  width: 100%;
  overflow: auto;
  height: auto;
  margin: 0; 
  padding: 0; 
  border: none; 
  table-layout: fixed;
  border-collapse: collapse;
  background-color: var(--defaultSecondaryColor); 
  margin: 0; 
}

.account-table-header{
  background-color: #333; /* Category header with its own style */
  padding: 15px;
  font-size: 0.9em;
  text-align: left;
}

.account-table-data {
  padding: 10px; /* Padding inside cells */
}

.account-table-row {
  border-bottom: 1px solid #434651; /* Border below each row */
}
.account-table-row:last-child {
  border-bottom: none; /* No border for the last row to prevent a double border */
}
