@import url('../../App.css');

.backtest-dashboard-container {
  height: 100%;
  margin: 10px;
  margin-bottom: 0px;
}

.backtest-dashboard-grid {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  grid-template-rows: repeat(5, auto);
  gap: 10px;
  /* margin: 10px; */
  box-sizing: border-box;
  display: grid;
  /* Two columns */
  /* First two rows set to content height, third row takes remaining space */
  grid-template-rows: auto auto 1fr;
  gap: 10px;
  background-color: var(--defaultPrimaryColor);
  grid-template-areas:
    "charts charts"
    "parameters tables"
    "overview tables"
    "overview tables";
}

.backtest-grid-item {
  padding: 5px;
  border-radius: 8px;
  background-color: var(--defaultSecondaryColor);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
