@import url('../../../App.css');

.backtest-filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--defaultSecondaryColor);
  color: white;
  position: relative;
  border-radius: 8px;
  margin-bottom: 10px;
}

.filter-bar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.current-backtest-name {
  font-size: 16px;
  padding-top: 5px;
  text-transform: uppercase;
}

.view-button {
  margin-left: auto;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.view-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.backtest-refresh-button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
  border: none;
  cursor: pointer;
  align-items: left;
}

.backtest-refresh-button:hover {
  color: #333;
}



